
SampleProject/.vs/SampleProject/v15/Server/sqlite3/storage.ide-shm
SampleProject/.vs/SampleProject/v15/.suo
SampleProject/.vs/SampleProject/v15/Server/sqlite3/storage.ide-shm
SampleProject/bin
SampleProject/obj
SampleProject/.vs/SampleProject/v15/Server/sqlite3/storage.ide-wal
SampleProject/.vs/SampleProject/v15/Server/sqlite3/storage.ide-wal
